<div class="container">
  <h1 class="d-flex justify-content-center">Teamer by Michael Tai</h1>
  <h4 class="d-flex justify-content-center">Team management made easy!</h4>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="departments" class="m-1 btn btn-light btn-outline-primary">Departments</button>
        <button routerLink="teammates" class="m-1 btn btn-light btn-outline-primary">Teammates</button>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>

